<h3>Pragmatic Order Shipped</h3>
<p>
  This is just to let you know that we've shipped your recent order:
</p>
<table>
	<% @order.line_items.all.each do |item| %>
	<tr>
		<td><%= item.quantity %>&times;</td>
	  <td><%= item.product.title %></td>
 	  <td class="item_price"><%= number_to_currency(item.total_price) %>
	</tr>
	<% end %>
</table>